html, body {
  height: 100%;
}

.brand {
  color: #555;
  font-family: 'Alfa Slab One';
}

.jumbotron {
  margin-bottom: 0em;  
}

.jumbotron-intro {
  margin-top: 0em;
  padding-top: 7em;
  padding-bottom: 14em;
  color: #fff;
  background-color: #222;
}

.highlight {
  color: #222;
  background-color: #ffff00;
}

.jumbotron-company {
  background-color: #fff;
}

.jumbotron-contact {
  color: #fff;
  background-color: #bf360c;
}

.jumbotron-contact h4 {
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.jumbotron-contact span.contact-value {
  padding-left: 1em;
}

.jumbotron-contact a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

.jumbotron-contact a:hover, a:active {
  text-decoration: underline;
  color: rgba(255, 165, 145, 0.5);
}

.jumbotron-legal {
  background-color: #fff;
  margin-top: 0em;
  padding-top: 0em;
}

.jumbotron-legal h3 {
  color: #555;
}

.jumbotron-legal a:link, a:visited {
  text-decoration: underline;
  color: #333;
}

.jumbotron-legal a:hover, a:active {
  text-decoration: underline;
  background-color: #B2DFDB;
  color: #333;
}

footer {
  padding-top: 3em;
  padding-bottom: 2em;
  background-color: #fff;
}

footer p {
  text-align: center;
  font-size: 0.9em;
}